@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-ExtraBold.woff2') format('woff2'); /* Modern Browsers */
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-Medium.woff2') format('woff2'); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-Regular.woff2') format('woff2'); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BarlowCondensed';
    src: url('/assets/fonts/BarlowCondensed-SemiBold.woff2') format('woff2'); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    font-size: 100%;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    color: #16161d;
}

*,
*::before*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    border: 0;
}

body {
    background-color: #edeff0;
    padding: 1rem;
}

.page-title {
    font-family: BarlowCondensed;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 5rem;
}

.candidate-list {
    background-color: #f7fafc;
    border-radius: 0.5rem;
    padding: 0 1rem;
}

.candidate {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #dcdee0;
}

.candidate:last-child {
    border-color: transparent;
}

.candidate-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 75px;
    margin-right: 1rem;
}

.candidate-meta {
    flex: 1;
}

.suspended {
    opacity: 0.65;
    color: #565c65;
}

.suspended img {
    filter: grayscale(1);
}

@media screen and (min-width: 700px) {
    .candidate-list {
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }
    .candidate {
        border-radius: 0.5rem;
        width: calc(50% - 3rem);
        margin-bottom: 1rem;
        background-color: #f7fafc;
        border-color: transparent;
    }
    .suspended {
        box-shadow: none !important;
    }
}
@media (min-width: 1000px) {
    .candidate {
        width: calc(33% - 3rem);
    }
}
@media (min-width: 1100px) {
    .candidate-list {
        max-width: 1100px;
        margin: 0 auto;
    }
}
